.lbl-config {
  line-height: 100%;
  letter-spacing: 0;
}

.pd-general {
  padding: 0 5rem;
}

.br-radius {
  border-radius: 10px;
}

.ul-config {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.jumbotron {
  background: #FFF3E3;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 100%;
  margin: 2rem 0;
}

:root {
  --furniro-primary-color: #B88E2F;
  --furniro-secondary-color: #FFF3E3;

  --furniro-text-dark: #333;
  --furniro-text-light: #fff;
  --furniro-text-grey: #9F9F9F;

  --furniro-frame-color: #FAF3EA;
  --furniro-text-frame-grey: #898989;
  --furniro-text-frame-black: #242424;

  --furniro-hr-bg: #D9D9D9;
}